/* TEXT STYLES */

h1, h2, h3 {
    font-family: "Arvo";
}

h1, h2 {
    text-align: center;
}

h1 {
    text-decoration: dotted;
}

p, li {
    font-family: "Roboto";
}

* {
    color: white;
}

.detail {
    color: #F58A07;
}

/* BOX & CONTAINER STYLES */

.container {
    background-color: #F58A07;
}

.head {
    background-color: #084887;
}

.body {
    background-color: #909CC2;
}