/* TEXT STYLES */

h1, h2, h3 {
    font-family: "Arvo";
}

h1, h2 {
    text-align: center;
}

h1 {
    text-decoration: dotted;
}

p, li {
    font-family: "Roboto";
}

* {
    color: color(srgb 1 1 1);
}

.detail {
    color: rgb(245, 138, 7);
}

/* BOX & CONTAINER STYLES */

.container {
    background-color: #F58A07;
}

.detail {
    display: inline-block;

    margin: auto;
    padding: 10px;
}

.box {
    display: block;

    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.head {
    margin-top: 20px;
    margin-bottom: 10px;

    background-color: #084887;
    border-color: hsl(210, 89%, 28%);
}

.body {
    margin-top: 10px;
    margin-bottom: 20px;

    background-color: color-mix(in hsl, darkblue 25%, white 75%);
    border-color: color-mix(in hsl, darkblue 25%, white 75%);
}